* {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.canvas_and_colors {
	display: flex;
	flex-direction: row;
	margin: 0 5px;
}

.canvasDiv {
	width: 100px;
}


.color_container {
	font-size: 8px;
	display: flex;
	flex-direction: column;
}

.color_container div {
	width: 30px;
	height: 14px;
}